@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
.btm{
    color: black;
}
.navbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color:rgb(246, 246, 246);
}

a{
    text-decoration: none;
}

ul ,ul :hover {
    list-style: none;
    color: #fc036b;
}

body ,html {
    overflow-x: hidden;
    background: url(https://wallpaperaccess.com/full/1431669.jpg);
    background-size:cover;
    width: 100vw;
    height: 100vh;
    /* background-image: url(https://wallpapercave.com/wp/wp5123300.jpg); */
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    display:block;
    /* background-position:; */
}


h2{
    color: #e91e63;
}

.nav-links {
    display: flex;
    align-items: center;
    
}

.inputbox input{
    background: none;
}

.nav-links li {
    margin: 0 30px;
    color: white;
}

.contact
{
    /* position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* background: url(https://www.cloud4c.com/my/sites/my/files/2022-07/cloud4c-company-contact-1Desktop.jpg); */
    /* background-size: cover; */
}

.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #dc0d0d;
}

.contact .content p{
  
    font-weight: 300;
    color: #fffafa;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:transparent;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: transparent;
    flex-direction: column;
    font-weight: 300;

}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color:#e8e9e591;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background:transparent;

}
.contactForm h2{
    font-size: 30px;
    color-scheme: #c7c2c2;
    font-weight: 500;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;

}

@media (max-width:991px)
{
    .contact{
        padding: 50px;

    }
    .container{
        flex-direction: column;

    }
    .container .contactInfo{
        margin-bottom: 40px;
        width: 100%;
    }

}